@font-face {
  font-family: "iconfont"; /* Project id 5206085 */
  /* Color fonts */
  src: 
       url('//at.alicdn.com/t/c/font_5206085_uc1ewro92ca.woff2?t=1784173933712') format('woff2'),
       url('//at.alicdn.com/t/c/font_5206085_uc1ewro92ca.woff?t=1784173933712') format('woff'),
       url('//at.alicdn.com/t/c/font_5206085_uc1ewro92ca.ttf?t=1784173933712') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chengzhong:before {
  content: "\e781";
}

.icon-bushui:before {
  content: "\e782";
}

.icon-feipang:before {
  content: "\e783";
}

.icon-donggandanche:before {
  content: "\e784";
}

.icon-jirounan:before {
  content: "\e785";
}

.icon-danbaifen:before {
  content: "\e786";
}

.icon-fuwocheng:before {
  content: "\e787";
}

.icon-jianshenbao:before {
  content: "\e788";
}

.icon-jianshenqixie:before {
  content: "\e789";
}

.icon-jieshi:before {
  content: "\e78a";
}

.icon-jianshenshoubiao:before {
  content: "\e78b";
}

.icon-jiankangshipin:before {
  content: "\e78c";
}

.icon-jieyan:before {
  content: "\e78d";
}

.icon-paobu:before {
  content: "\e78e";
}

.icon-qihang:before {
  content: "\e78f";
}

.icon-tice:before {
  content: "\e790";
}

.icon-shoushen:before {
  content: "\e791";
}

.icon-yaling:before {
  content: "\e792";
}

.icon-jianshenshoutao:before {
  content: "\e793";
}

.icon-tiaosheng:before {
  content: "\e794";
}

.icon-jishiqi:before {
  content: "\e795";
}

.icon-quanji:before {
  content: "\e796";
}

.icon-youyong:before {
  content: "\e797";
}

.icon-jianfu:before {
  content: "\e798";
}

.icon-yuqie:before {
  content: "\e799";
}

.icon-_fuzhi-3-copy:before {
  content: "\e620";
}

.icon-_fuzhi-2-copy:before {
  content: "\e621";
}

.icon-_fuzhi-2:before {
  content: "\e610";
}

.icon-_fuzhi-3:before {
  content: "\e61d";
}

.icon-_fuzhi-1-copy:before {
  content: "\e61e";
}

.icon-_fuzhi-1:before {
  content: "\e618";
}

.icon-_fuzhi--copy:before {
  content: "\e61f";
}

.icon-_fuzhi--copy1:before {
  content: "\e622";
}

.icon-_fuzhi-:before {
  content: "\e611";
}
